<!-- main app container -->
<div class="container text-center my-3">
    <router-outlet></router-outlet>
    <div *ngFor="let message of messages" class="alert alert-sm alert-info">{{message.text}}</div>
</div>

<!-- credits -->
<div class="text-center">
    <p>
        <a href="https://jasonwatmore.com/post/2020/07/06/angular-10-communicating-between-components-with-observable-subject" target="_top">Angular 10 - Communicating Between Components with Observable & Subject</a>
    </p>
    <p>
        <a href="http://jasonwatmore.com" target="_top">JasonWatmore.com</a>
    </p>
</div>